* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ipynb text merge=union eol=lf
*.csv text eol=lf
*.txt text eol=lf

# Binaries
*.pkl binary
*.xlsx binary
*.xls binary
